img {
    height: 300px;
    border: 5px solid lightcyan;
    border-radius: 20px;
}

body{
    background-image: url(assets/mc\ kevin\ wallpaper\ 4.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family:cursive;
}
h1 {
    color: white;
    text-align: center;
}

footer {
    font-family:'Times New Roman', Times, serif ;
color: white;
    text-align: center;
}